@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #1F7A8C;
    --secondary-color: #022B3A;
    --accent1-color: #BFDBF7;
    --accent2-color: #E1E5F2;


    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;


    --nav-background-color: #022B3A;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffcc00;
    --nav-hover-background-color: #BFDBF7;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    color: var(--secondary-color);

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 5px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 85rem;
    justify-content: center;
    border: 2px solid #E1E5F2;
    gap: 10px;

}

header img {
    height: 150px;
    margin-left: 7rem;    
}


.navoptions {
    background-color: var(--nav-background-color);
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 85px;
    left: 350px;
    max-width: 60%;
    gap: 60px;
    padding: 10px 0;
	list-style: none;
    border: 1.5px solid #ffffff;

}
      

.navoptions a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px 15px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    border: 2px solid #E1E5F2;
    padding: 2px;
    background-color: var(--accent1-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 32.5%;
    color: white;
    font-size: 2.5rem;
}

.hero article {
    width: 80%;
    position: absolute;
    bottom: 20%;
    left: 9%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    max-width: 80%;
}

.hero article img {
    float: right;
    margin-left: 20px;
    max-width: 150px;
    height: auto;
}

#history {
    position: relative;
    text-align: center;
    border: 2px solid #E1E5F2;
    padding: 2px;
    margin: 1.5rem;
}

#history img {
    max-width: 28rem;
    height: auto;
}

#history p {
    margin: 30px;
}

#adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#adventure h2 {
    position: absolute;
    justify-content: center;
    margin-bottom: 20px;
}

#adventure img {
    margin-top: 4rem;
    padding: 5px;
    max-width: 12rem;
    height: auto;
    position: relative;
}

#adventure figure {
    margin: 15px;
    text-align: center;
    margin-bottom: 3rem;
}

footer {
        padding: 20px;
        background-color: var(--accent1-color);
        color: var(--secondary-color);
        border: 2px solid #E1E5F2;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
}

footer p {
        align-content: center;
        position: relative;
        left: 22rem;
        
}

footer .sociallinks {
        display: flex;
        justify-content: right; 
        gap: 50px;
}
    
footer .sociallinks a img {
        width: 24px;
        height: 24px;
}

